<h2 class="text-center">My bookings</h2>
<div class="container mt-4">

  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-12">
        <div class="booking-card">

        <div class="booking-left">
          <h6> <%= booking.starting_date.strftime("%e %b %Y") %> - <%= booking.ending_date.strftime("%e %b %Y") %> </h6>
          <%= link_to boat_path(booking.boat) do %>
            <h4><%= booking.boat.name %> </h4>
          <% end %>        
          <p><span>Boat Owner</span><br> <%= booking.boat.user.name %></p>
        </div>

        <div class="booking-right">
          <h6 class="text-right"> Booking #000<%= booking.id %> </h6>
          <% if booking.confirmation == nil %>
            <p class="text-right"><em><%=  'Waiting for owner\'s response' %></em></p>
          <% elsif booking.confirmation? %>
            <p class="text-right"><em><%= 'You are all set!' %></em></p>
          <% else %>
             <p class="text-right"><em><%= 'Your booking request was declined' %></em></p>
          <% end %>
        </div>
          
        </div>
      </div>
    <% end %>
  </div>


  <h2 class="text-center mt-5">Bookings of my boats</h2>
  <div class="row">
    <% @boat_bookings.each do |booking| %>
      <div class="col-12">
        <div class="booking-card">

        <div class="booking-left">
          <h6> <%= booking.starting_date.strftime("%e %b %Y") %> - <%= booking.ending_date.strftime("%e %b %Y") %> </h6>
          <%= link_to boat_path(booking.boat) do %>
            <h4><%= booking.boat.name %> </h4>
          <% end %>        
          <p><span>Boat Owner</span><br> <%= booking.boat.user.name %></p>
        </div>

        <div class="booking-right">
          <h6 class="text-right"> Booking #000<%= booking.id %> </h6>
          <div class="booking-btn">
            <% if booking.confirmation == nil %>
              <%=  'Waiting for your response' %>
            <% elsif booking.confirmation? %>
              <%= 'You accepted this reservation\'s request' %>
            <% else %>
              <%= 'You declined this reservation\'s request' %>
            <% end %>
            <% if booking.confirmation == nil %>
              <%= link_to "Decline", booking_path(booking, confirmation: false), method: "patch", class:"btn btn-danger btn-booking" %>
              <%= link_to "Accept", booking_path(booking, confirmation: true), method: "patch", class:"btn btn-primary btn-booking" %>
            <% end %>
          </div>
        </div>
          
        </div>
      </div>
    <% end %>
  </div>
