<div class="navbar navbar-expand-sm navbar-lewagon <%= "navbar-home" if params[:action] == "home" %>">
  
  <%= link_to root_path, class: "navbar-brand" do %>
    <h3 class="logo <%= "logo-home" if params[:action] == "home" %>">Floatify</h3>
  <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item <%= "active" if action_name == "index" && controller_name == "boats" %>">
          <%= link_to "Boats for rent", boats_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= "active" if action_name == "new" && controller_name == "boats" %>">
          <%= link_to "Rent out your boat", new_boat_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My bookings", bookings_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item <%= "active" if action_name == "index" && controller_name == "boats" %>">
          <%= link_to "Boats for rent", boats_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= "active" if action_name == "new" && controller_name == "boats" %>">
          <%= link_to "Rent out your boat", new_boat_path, class: "nav-link" %>
        </li>


        <% if params[:action] == "home" %>      
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-light" %>
          </li>
        <% else %>           
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-dark" %>
          </li>
        <% end %>

        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
        </li>        
      <% end %>
    </ul>
  </div>
</div>
