<div class="container mt-3">

<%= form_tag boats_path, method: :get do %>
  <div class="search-bar";>
    <%= text_field_tag :address,
    params[:address],
    class: "form-control search-input", placeholder: "Enter a location..."%>
    <div class="search-button">
      <%= button_tag(type: "submit", class: "btn btn-circle custom-circle-button") do %>
        <i class="far fa-compass search-compass"></i>
      <%end%>
    </div>
  </div>
<% end %>

<br>

<%= form_tag boats_path, method: :get do %>
  <div class="input-group" style="opacity: 0.80; margin-bottom: 25px; margin-top:  ;">
    <%= text_field_tag :address,
    params[:address],
    class: "form-control",
    placeholder: "Enter a location..."%>
    <div class="input-group-append">
      <%= button_tag(type: "submit", class: "btn btn-secondary") do %>
        <i class="fa fa-search"></i>
      <%end%>
    </div>
  </div>
<% end %>


<div class="noresult-container text-center">
    <% if @boats.empty? %>
      <p><em>Sorry, no boats found...</em></p>
    <% end %>
</div>

  <div class="row">
    <% @boats.each do |boat| %>
      <div class="col-12 col-md-6 col-lg-3">
        <%= link_to boat_path(boat) do %>
          <div class="boatcard">
            <% if boat.photos.attached? %>
              <div class="boatcard-image" style="background-image: url('<%= cl_image_path boat.photos.first.key %>')">
                <i class="far fa-compass compass"></i>
              </div>
            <% else %>
              <div class="boatcard-image" style="background-image: url('https://images.unsplash.com/photo-1605281317010-fe5ffe798166?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1328&q=80')">
                <i class="far fa-compass compass"></i>
              </div>
            <% end %>

            <div class="boatcard-description">

              <h5><strong><%= link_to "#{boat.name}", boat, class: "boat-link" %></strong></h5>
              <p><%= boat.address %></p>
              <h5><strong>£<%= boat.daily_rate %></strong> <span>/day</span></h5>
            </div>

          </div>
        <% end %>

      </div>
    <% end %>

  </div>
</div>
