<h2 class="text-center">My boats</h2>
<div class="container mt-4">

    <div class="row">
      <% @boats.each do |boat| %>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="boatcard">
            <% if boat.photos.attached? %>
              <div class="boatcard-image" style="background-image: url('<%= cl_image_path boat.photos.first.key %>')">
              </div>
            <% else %>
              <div class="boatcard-image" style="background-image: url('https://images.unsplash.com/photo-1605281317010-fe5ffe798166?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1328&q=80')">
              </div>
            <% end %>
            
            <div class="boatcard-description">

              <h5><strong><%= link_to "#{boat.name}", boat, class: "boat-link" %></strong></h5>
              <p><%= boat.address %></p>
              <h5><strong>£<%= boat.daily_rate %></strong> <span>/day</span></h5>
                <%= link_to boat_path(boat), method: :delete, data: {confirm: "Are you sure you want to delete?"},style: "font-size: 16px" do %>
                <i class="fas fa-trash-alt"></i>
                <% end %>
                <%= link_to edit_boat_path(boat), style: "font-size: 16px" do %>
                <i class="fas fa-edit"></i>
                <% end %>
            </div>

          </div>

        </div>
      <% end %>
    </div>
</div>
