<div class="container">
  <div class="row">
    <% @boats.each do |boat| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?boat');">
          <div class="card-description">
            <h1><%= link_to "#{boat.name}", boat %></h1>
            <p><%= boat.address %></p>
            <h2><%= boat.daily_rate %></h2>
            <div style="font-size: 16px; text-align: right">
              <%= link_to edit_boat_path(boat), style: "color: white; text-shadow: 2px; font-size: 20px" do %>
              <i class="fas fa-edit"></i>
              <% end %>
              <%= link_to boat_path(boat), method: :delete, data: {confirm: "Are you sure you want to delete?"},style: "color: white; text-shadow: 2px; font-size: 20px" do %>
              <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>