<!-- # Banner
# Header name
# Address
# Description
# Daily Rates -->

<div class="container">

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    
    <% if @boat.photos.attached? %>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= cl_image_tag @boat.photos.first.key, height: 400, width: 600, crop: :crop, class: "d-block w-100"%>
        </div>
        <% @boat.photos[1..-1].each do |photo| %>
          <div class="carousel-item">
            <%= cl_image_tag photo.key, height: 400, width: 600, crop: :crop, class: "d-block w-100"%>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "https://images.unsplash.com/photo-1605281317010-fe5ffe798166?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1328&q=80", height: 400, width: 600, class: "d-block w-100 object-fit-cover"%>
        </div>
      </div>
    <% end %>
    

    <% if @boat.photos.length > 1 %>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      
    <% end %>

</div>

<div class="row">
  <div class="col-8">
    <div class="info-holder">
      <h2><%= @boat.name %></h2>
      <p><%= @boat.address %></p>
      <div class="info-text">
        <%= @boat.description %>
      </div>
      <h3><span>£<%= @boat.daily_rate %></span> /day</h3>
    </div>
  </div>

  <div class="col-4">
    <div class="info-holder lightgreen-bg">
      <h5>Book me here</h5>
      <%= simple_form_for [ @boat, @booking ] do |f| %>
        <%= f.input :starting_date, as: :date, html5:  true %>
        <%= f.input :ending_date, as: :date, html5:  true %>
        <%= f.submit class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>

</div>







</div>
